priority -40

extends jscommon

snippet log
console.log($0);
endsnippet

snippet jlog
console.log(JSON.parse(JSON.stringify($0)));
endsnippet

snippet require
const $1 = require('$1');
endsnippet

snippet it
it('$1', function() {
	$0
});
endsnippet

snippet describe
describe('$1', function() {
	$0
});
endsnippet

snippet before
before('$1', function() {
	$0
});
endsnippet

snippet after
after('$1', function() {
	$0
});
endsnippet

