
snippet function "function"
function $1 () {
	$0
}
endsnippet

snippet afun "create anonymous function" w
function() {
	$0
}
endsnippet

snippet import
import { $1 } from '$2';
endsnippet

snippet inter  "string interpolation" i
${$1}
endsnippet
